
body {
	background-image: url(https://www.teahub.io/photos/full/101-1016105_paper-squid-wallpaper-watercolor-hd-wallpaper-high-resolution.jpg);
}

.text {font-family: 'Domine', serif; float: left; font-size: 8px;}

.rightside {
	float: right;
	font-family: 'Domine', serif;
	margin-right: 7%;
	position: flex;
	font-size: 8px;
}

.middle {
	float: left;
	font-family: 'Domine', serif;
	margin-right: auto;
	margin-left: 7%;
	position: flex;
	font-size: 8px;
}

.hobbysright{
	float: right;
	display: inline-block;
	position: flex;
	font-family: 'Domine', serif;
	margin-right: 48%;

	font-size: 8px;
}