body {
	background-image: url(https://www.teahub.io/photos/full/101-1016105_paper-squid-wallpaper-watercolor-hd-wallpaper-high-resolution.jpg);
}

h2 {
	text-align: center;
	line-height: 0px;
	font-family: 'Dancing Script', cursive;
	font-size: 36px;
	color: #0D374C;
}

