
@media screen and (max-width: 600px) {
  #intro, #details {
    display: none;
  }
}

body {
	background-image: url(https://www.teahub.io/photos/full/101-1016105_paper-squid-wallpaper-watercolor-hd-wallpaper-high-resolution.jpg);
}

h2 {
	text-align: center;
	line-height: 0px;
	font-family: 'Dancing Script', cursive;
	font-size: 36px;
	color: #0D374C;
}

#intro {
	width: 20%;
	float: left;
	font-family: 'Domine', serif;
	font-size: 14px;
	border: 12px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.7);
}

#details {
	float: right;
	width: 20%;
	position: static;
	text-align: center;
	font-family: 'Domine', serif;
	font-size: 14px;
	border: 12px solid rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.7);
}



