body {
	color: ;
}
body h3 {
	text-align: center;
}
body p {
	text-align: center;
}
.fa-bars {
	position: absolute;
	padding: 10px;
	font-size: 22px;
	color: #02151b;
}
.overlay {  
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: 30px;
}
.overlay a {
  padding: 5px;
  text-decoration: none;
  font-size: 28px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {color: #f1f1f1;}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.card {
	background-color: #c5d4d9;
	margin-left: 10px;
	margin-top: 20px;
	margin-right: 12px;
	padding-bottom: 10px;
	box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.2);
	z-index: 2;
}
.card h2 {
	text-align: center;
	font-size: 18px;
	color: #02151b;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
}
.card img {
	display: flex;
	margin: auto;
	padding-top: 15px;
	width: 50%;
}
.card h4 {
	text-align: center;
	font-size: 16px;
	color: #02151b;
	font-family: 'Raleway', sans-serif;
}
.welcomeCard {
	position: relative;
	background-color: #4d6561;
	color: white;
	padding: 10px;
	margin-left: -10px;
	margin-top: -30px;
	margin-right: -10px;
	padding-top: 30px;
	font-family: 'Raleway', sans-serif;
	z-index: -1;
}
.welcomeCard p {
	font-size: 14px;
	line-height: 1.5;
}
.languagesCard {
	position: relative;
	background-color: #4d6561;
	color: white;
	padding: 10px;
	margin-left: -10px;
	margin-top: -30px;
	margin-right: -10px;
	padding-top: 30px;
	font-family: 'Raleway', sans-serif;
	z-index: -1;
}
.workCard {
	position: relative;
	background-color: #4d6561;
	color: white;
	padding: 10px;
	margin-left: -10px;
	margin-top: -30px;
	margin-right: -10px;
	padding-top: 30px;
	font-family: 'Raleway', sans-serif;
	z-index: -1;
}
.studiesCard {
	position: relative;
	background-color: #4d6561;
	color: white;
	padding: 10px;
	margin-left: -10px;
	margin-top: -30px;
	margin-right: -10px;
	padding-top: 30px;
	font-family: 'Raleway', sans-serif;
	z-index: -1;
}
.portfolioCard {
	position: relative;
	background-color: #4d6561;
	color: white;
	padding: 10px;
	margin-left: -10px;
	margin-top: -30px;
	margin-right: -10px;
	padding-top: 30px;
	font-family: 'Raleway', sans-serif;
	z-index: -1;
}
.coursesCard {
	position: relative;
	background-color: #4d6561;
	color: white;
	padding: 10px;
	margin-left: -10px;
	margin-top: -30px;
	margin-right: -10px;
	padding-top: 30px;
	font-family: 'Raleway', sans-serif;
	z-index: -1;
}
.hobbysCard {
	position: relative;
	background-color: #4d6561;
	color: white;
	padding: 10px;
	margin-left: -10px;
	margin-top: -30px;
	margin-right: -10px;
	padding-top: 30px;
	font-family: 'Raleway', sans-serif;
	z-index: -1;
}
.column {
  float: left;
  width: 50%;
}
.column2 {
	float: right;
	text-align: right;
}
.columns {
  font-size: 13px;
  line-height: 3;
  float: left;
  width: 33.33%;
}
.columnStudies1 {
	font-size: 13px;
	line-height: 3;
	float: left;
	width: 50%;
}
.columnStudies2 {
	font-size: 13px;
	line-height: 3;
	float: left;
	width: 30%;
}
.columnStudies3 {
	font-size: 13px;
	line-height: 3;
	float: left;
	width: 20%;
}
.columnCourses {
	float: left;
	width: 60%;
}
.columnCourses2 {
	float: right;
	text-align: right;
	width: 40%;
}
.columnHobbies {
	float: left;
	width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
footer {
	background-color: #8d3421;
	margin-left: -10px;
	margin-right: -10px;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 40px;
}
.footerLinks,a {
	text-align: center;
	text-decoration: none;
	color: white;
	font-family: 'Raleway', sans-serif;
}
.madeBy {
	font-size: 12px;
	margin-top: 0px;
	color: grey;
}